#plugins-table th:last-child {
  text-align: right;
}

#plugins-table a {
  font-size: 1.25rem;
  padding: .35rem .85rem;
}

#plugins-table ul {
  margin-bottom: 0;
}

.clear-filter i {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  bottom: 0;
  font-size: 2rem;
  color: #666;
}

.clear-filter i:before {
  content: "\f05c";
}

.clear-filter i:hover:before {
  content: "\f057";
}

.clear-filter i:hover {
  color: #444;
}

textarea.xml {
  font-family: "Courier New";
  white-space: pre;
}

#filter-row .btn-group {
  width: 100%;
}

@media (max-width: 768px) {
  #plugins-table .btn {
    font-size: 0px !important;
  }

  #plugins-table .btn i {
    font-size: 1.25rem !important;
  }
}

.navbar-nav a {
  font-size: 1.7rem;
}

.navbar-nav i {
  margin-left: 1rem;
  margin-right: 0.3rem;
}
